<html>
	<head>
		<title>johnholbrook.us - the personal web site of John Holbrook</title>
		<link rel="stylesheet" type="text/css" href="./site.css">
		<link rel="shortcut icon" href="./favicon.ico">
	</head>
	<body>
		<div class="content title">
			<h1>johnholbrook.us</h1>
			<h2>The personal web site of John Holbrook</h2>
			<h2 id="nav">
				<a href="./">Home</a> &bull;
				<a href="./about">About</a> &bull;
				<a href="./LEGO">LEGO</a> &bull;
				<a href="./projects">Projects</a> &bull;
				<a href="./contact">Contact</a>
			</h2>
		</div>
		<div class="content main">
			<h1>Error 404: Page Not Found</h1>
			From Wikipedia's "<a href="http://en.wikipedia.org/wiki/List_of_HTTP_status_codes#404">List of HTTP status codes</a>":
			<p class="quote">
				<b><a href="http://en.wikipedia.org/wiki/HTTP_404">404 Not Found</a></b>
				<br>
				The requested resource could not be found but may be available again in the future. Subsequent requests by the client are permissible.
			</p>
		</div>
		<div class="content footer">
			<small>&copy; 2015 John Holbrook</small>
		</div>
	</body>
</html>