<h1>About</h1>
<h2>Who are you?</h2>
<p>I am <b>John P Holbrook</b>, a high school student, robotics enthusiast, and amateur programming enthusiast based in
	Huntington, West Virginia, USA.</p>
<h2>What do you do?</h2>
<p>Like most people my age, I spend most of my time sleeping, eating, or attending school. When I'm not busy doing any of those things,
	I'm usually involved in one of my hobbies, which include robotics (as a mentor for teams participating in the <a href="http://www.firstlegoleague.org/">FIRST
	LEGO League</a>, as a member of a <a href="http://www.vexrobotics.com/vex/competition/">VEX Robotics Competition</a> team, and as half of the <a href="https://www.youtube.com/channel/UCwghc9-xTrSMLlSjcYd7e0A">Hello World! YouTube channel</a>.), computing, sailing, playing the
	viola, and gently correcting people on reddit who use the term "LEGOs" incorrectly.</p>
<h2>What have you done in the past?</h2>
<p>See my <a href="projects">"Projects"</a> page for information about projects I've done.</p>
<h2>What is this site?</h2>
<p>This is my personal web site, where I put things of interest to me, including information about projects I've done and resources related
	to things I'm interested in.</p>
<h2>How does it work?</h2>
<p>This site is hosted using <a href="http://harpjs.com/">Harp</a> and is hosted on <a href="http://heroku.com">Heroku</a>. I'm using Heroku's GitHub integration,
	so that I can push site edits to the master branch of <a href="https://github.com/dhmmjoph/jh-us">its GitHub repository</a>, and they're deployed automatically.
	I'm also using Harp's "ejs layouts" feature, so that the background, header, and footer of the pages are seperate from their content, allowing me to easily
	edit many pages simultaneously.</p>