<h1>About</h1>
<h2>Who are you?</h2>
<p>I am <b>John P Holbrook</b>, a high school student, robotics enthusiast, and amateur programming enthusiast based in
	Huntington, West Virginia, USA.</p>
<h2>What do you do?</h2>
<p>Like most people my age, I spend most of my time sleeping, eating, or attending school. When I'm not busy doing any of those things,
	I'm usually involved in one of my hobbies, which include robotics, computing, sailing, playing the viola, and gently correcting
	people on reddit who use the term "LEGOs".</p>
<h2>What have you done in the past?</h2>
<p>See my <a href="projects">"Projects"</a> page for information about projects I've done.</p>
<h2>What is this site?</h2>
<p>This is my personal web site, where I put things of interest to me, including information about projects I've done and resources related
	to things I'm interested in.</p>
<h1>How does it work?</h1>
<p>This site is hosted using <a href="http://harpjs.com/">Harp</a> and is hosted on <a href="http://heroku.com">Heroku</a>. Harp's templates feature
	is used, so that the background, header, and footer of the pages are severate from their content.</p>