<h1>Projects</h1>
<p>This is a list of projects I currently am or have been involved in which are available online. Each project is briefly described.</p>
<h2>FaRCX</h2>
<p>Software for controlling LEGO&reg; Mindstorms RCX robots over the internet which my friend and I wrote, and which I use
to run <a href="http://FaRCX.ev3.pw">FaRCX.ev3.pw</a>.<p>
<a href="https://github.com/G33kDude/FaRCX">View on GitHub</a>
